.wrapper {
  flex-grow: 1;
  background-color: #adb5bd;
  height: calc(100vh - 125px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.wrapper::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: transparent;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #6c757d;
  border: 1px solid #000;
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
