.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 420px;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  color: #212529;
}

.formGroup {
  display: flex;
  gap: 20px;
}

.formGroupTitle {
  text-align: center;
}

.submit {
  width: 320px;
  font-size: 26px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e9ecef;
  transition: all 0.2s;
}

.submit:hover {
  background-color: #ff5722;
  color: #e9ecef;
}

.error {
  color: red;
  height: 14px;
  font-size: 14px;
  text-align: center;
}
