.wrapper {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
}

.imgWrapper {
  width: 230px;
}

.img {
  height: 70px;
}

.title {
  color: #e9ecef;
  font-size: 34px;
}
